.example-case{
  &-cont{
     .at-swipe-action__content{
      margin: 24px 30px 0;
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
     }
     .at-swipe-action__options{
       height: 170px;
       top: 24px;
       right: 30px;
     }
     .option__text{
       margin-top: 40px;
     }
     &-cont,&-cont2{
       padding: 30px;
       margin: 24px 30px 0;
       &-top{
         display: flex;
         justify-content: space-between;
         margin-bottom: 10px;
         .top-left{
          font-size: 32px;
          font-weight: 500;
          color: #333333;
         }
         .top-right{
          font-size: 24px;
          font-weight: 400;
          color: #999999;
        }
       }
       &-bottom{
        display: flex;
        justify-content: space-between;
        .bottom-left{
          font-size: 28px;
          font-weight: 400;
          color: #999999;
          line-height: 56px;
        }
        .bottom-right{
          background:rgba(255,81,103,.08);
          border-radius: 4px;
          padding: 6px 16px;
          color: rgba(255,81,103,1);
        }
       }
     }
     &-cont2{
      margin: 24px 30px;
     }
  }
}
